.lp-t{
  padding-top: 150px !important;
}
.lp-title {

}
.download-icon {
  max-width: 150px;
  max-height: 150px;
}
.download-icon-apple {
  max-width: 125px;
  max-height: 125px;
}
.features {
  padding-bottom: 4rem;
}
.feature-card {
  padding-bottom: 2rem;
}
.our-benefits {
  text-align: left !important;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white;
  /* margin-left: -46px;
  margin-right: -46px; */
}
.benefits-ul{
  line-height: 3.5;
}
.app-features {
  background-color: white;
}
.underline {
  text-decoration: underline;
  text-underline-position: under;
}
.footer-custom {
  text-align: left;
}
.footer {
  padding-top: 50px;
}

/* HOW IT WORKS PAGE */
.how-it-works {
  padding-top: 50px;
}
.step {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.to-know {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white;
}

/* CONDITIONS PAGE */
.check{
  /* Vector */
padding-top: 6px;

}

/* VETS PAGE */
.step-c {
  padding: 50px;
  text-align: center;
  background-color: white;
  font-size: xx-large;
}
.step-vet {
  color: black;
}
.start-work-with-us {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* CONTACT US */
.contact-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* CAREER PAGE */
.benefits-careers {
  padding-top: 50px;
  padding-bottom: 50px;
}
.jobs {
  padding-top: 60px;
  padding-bottom: 50px;
  width: 96%;
  margin: 0 auto;
}

/* LOGIN PAGE */
.custom-tabs {
  display: inline-block;
}

/* BLOGS PAGE */
.blogs {
  padding-top: 60px;
  padding-bottom: 60px;
}
