@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');
body {
  font-family: 'Raleway', sans-serif !important;
  color: #615e5c !important;
  background-color: white !important;
  overflow-x: hidden;
}
.navbar {
  color: #615e5c !important;
}
.nav-logo-custom {
  max-width: 120px;
  max-height: 120px;
}
.btn-pink {
  background-color: #E91E63;
  padding-left: 50px;
  padding-right: 50px;
}
.card-custom-homepage {
  width: 88% !important;
}

.title {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700;
  color:  #27364B !important;
}
.title-blog {
  color: white !important;
}
.subtitle {
  color: #615e5c !important;
  font-family: 'Raleway', sans-serif !important;
}
.subtitle-b {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700;
  color:  #27364B !important;
}
p {
  color: #615e5c !important;
}
.lp-t{
  padding-top: 160px !important;
}
.cbk {
  margin-top: 65px;
}
.first-part {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.lp-title {
  margin-bottom: 25px;
}
.brush {
  background-repeat: no-repeat;
  background-size: 100% 101%;
  padding: 55px 0;
  width: 50px;
}
.header-image {
  float: right;
}
.download-icon {
  max-width: 150px;
  max-height: 150px;
}
.download-icon-apple {
  max-width: 125px;
  max-height: 125px;
}
.info-b {
  max-width: 360px;
  margin: 0 auto;
  padding: 30px 0 40px;
  min-height: 350px;
}
.info-title {
  color: #3C4858 !important;
  margin: 30px 0 15px;
}
.card-one {
  background-color: #f8be52;
}
.card-two {
  background-color: rgb(243, 93, 34);
}
.card-three {
  background-color: #82c5dc;
}
.card-four {
  background-color: rgb(124, 188, 68);

}
.card-icon {
  width: 70px !important;
  height: 70px !important;
  margin-left: 5px;
}
.card-content-custom {
  color: white !important;
  padding-left: 8px;
  padding-right: 8px;
}
.features {
  padding-bottom: 4rem;
}
.feature-card {
  padding-bottom: 2rem;
}
.ft-c {
    box-shadow:  0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.feature{
  padding: 0;
  display: flex;
}
.feature-icon-container {
  order: 1;
  margin: 7px 0 0 15px;
}
.feature-icon-container-b {
  margin: 7px 15px 0 0;
}
.feature-icon {
  width: 50px;
  height: 50px;
}
.img-feature {
  margin: 100px auto;
  max-width: 80%;
  height: auto;
  display: block;
}
@media screen and (max-width: 500px) {
  .img-feature {
    margin: 0 auto !important;
    max-width: 100% !important;
  }
}
.our-benefits {
  text-align: left !important;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white;
  /* margin-left: -46px;
  margin-right: -46px; */
}
.benefits-ul{
  line-height: 3.5;
}
.app-features {
  background-color: white;
}
.app-features-left {
  text-align: right;
}
.app-features-right {
  text-align: left;
}
.underline {
  text-decoration: underline;
  text-underline-position: under;
}
.footer-custom {
  text-align: left;
}
.footer {
  padding-top: 50px;
}

/* HOW IT WORKS PAGE */
.how-it-works {
  padding-top: 50px;
}
.step {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.to-know {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: white;
}

/* CONDITIONS PAGE */
.check{
  /* Vector */
padding-top: 6px;

}

/* VETS PAGE */
.step-c {
  padding: 50px;
  text-align: center;
  background-color: white;
  font-size: xx-large;
}
.step-vet {
  color: black;
}
.start-work-with-us {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}
.testimonials {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* CONTACT US */
.contact-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* CAREER PAGE */
.benefits-careers {
  padding-top: 50px;
  padding-bottom: 50px;
}
.jobs {
  padding-top: 60px;
  padding-bottom: 50px;
  width: 96%;
  margin: 0 auto;
}

/* LOGIN PAGE */
.login-page {
  background-color: #eee;
}
.login-form-card {
  margin-top: 80px;
}
.social-login-header {

}
.custom-tabs {
  display: inline-block;
}

/* BLOGS PAGE */
.blogs {
  padding-top: 60px;
  padding-bottom: 60px;
}
.blog-tags {
  margin-top: 18px;
}

/* CORRECTIONS */
.bz {
  margin-bottom: 14px;
  color: #9c27b0 !important;
}
.footer-logo {
  padding-bottom: 18px;
}
.box-content {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.step-image {
  max-height: 250px;
  width: auto;
  margin: 0 auto;
}
.call-to-action {
  margin-top: 40px;
  background-color: #eee;
  padding-bottom: 25px;
}
.call-to-action-link {
  color: #27364B !important;
}
.call-to-action-app {
  margin-top: 40px;
}
.pricing-illustrations {
  margin-left: 15px !important;
}
.conditions-ul li {
  padding-bottom: 10px;
}
.sign-up-header {
  margin-top: -85px !important;
  margin-bottom: 25px !important;
}
.signup-form {
  margin-top: 85px;
}
.center-pills {
  display: flex;
  justify-content: center;
}
